.inner__section-too {
  background-color: #F3F3F3FF;
}

.inner__wrap-too {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.inner__wrap-left__too {
  margin-left: 30px;
}

.inner__wrap-right__too {
  background-image: url(/img/photo_2021-09-09_17-47-28.jpg);
  background-repeat: no-repeat;
  width: 50%;
  height: 250px;
  background-position: center;
  background-size: cover;
}

.inner__small-too {
  color: black;
}

.inner__h2-too {
  margin: 0;
  color: black;
  text-transform: uppercase;
}

.inner__p-too {
  width: 370px;
  color: black;
}
