.section__phone {
  background-image: url(/img/photo_2021-09-09_17-49-41.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.phone__wrapp {
  display: flex;
  align-items: center;
}

.phone__left {
  width: 400px;
}

.phone__left-h3 {
  color: white;
  text-transform: uppercase;
}

.phone__left-text {
  color: white;
}

.text__one {
  padding: 5px;
  background-color: aqua;
  color: white;
}
